*{
    margin: 0px;
    padding: 0px;
}
body{
    border: solid 1px;
    height: 600px;
    background-image: url(bg3.jpg);
    background-repeat: no repeat;
    background-size: 1400px 700px;
}
    form{
        border: solid 1px white;
        margin-left: 500px;
        width:400px;
        margin-top: 50p;
        padding-left: 20px;
    }
    label{
        color: aqua;
        font-size: 25px;
    }
    h1{
        color: brown;
        font-size: 35px;
        font-style: 50px;
        text-align: center;
    }
    input{
        height: 30px;
        width: 310px;
    }
    button{
        height: 45px;
        width: 135px;
        background-color: azure;
        color:grey;
        font-size: 20px;
        font-weight: bold;
        border-radius: 20px;
    }
    p{
        column-rule-color: aliceblue;
        font-size: 25px;
    }
    p a{
        color: blue;
        font-size: 35px;
    }